@mixin card($bg-color: #fff) {
  //display: block;
  padding: $base-padding;
  background-color: $bg-color;
  box-shadow: $base-box-shadow;

  &__title {
    font-size: $font-size-md;
    padding-bottom: $base-padding;
  }

  &__body {
    font-size: $base-font-size;
  }
}

.card {
  @include card;
}

@each $key, $val in $colors {
  .card-#{$key} {
    @include card;
    background-color: $val;
  }

  .card-hover-#{$key} {
    &:hover {
      background-color: $val;
      cursor: pointer;
    }
  }

  @for $i from 1 through 9 {
    .card-#{$key}-light-#{$i} {
      background-color: mix(white, $val, $i * 10);
    }

    .card-hover-#{$key}-light-#{$i} {
      &:hover {
        cursor: pointer;
        background-color: mix(white, $val, $i * 10);
      }
    }

    .card-#{$key}-dark-#{$i} {
      background-color: mix(black, $val, $i * 10);
    }

    .card-hover-#{$key}-dark-#{$i} {
      &:hover {
        cursor: pointer;
        background-color: mix(black, $val, $i * 10);
      }
    }
  }
}
