.splide {
  &__slide {
    position: relative;

    img {
      height: 818px;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    background: none;
    color: white;
    margin: 0;
    padding: 24px 36px 30px;
    filter: brightness(30%);
    left: -5px;
    top: 260px;
    transition: 0.7s linear;

    &.animate {
      filter: brightness(160%);
      animation-name: anim;
      animation-duration: 2s;
      animation-fill-mode: both;
    }

    h1 {
      color: orangered;
      text-transform: capitalize;
      font-size: 80px;
      line-height: 0.2;
    }
  }
}

@keyframes anim {
  from {
    transform: translateX(5px);
  }
  to {
    transform: translateX(30px);
  }
}

@include xs {
  .splide {
    &__content {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@include md {
  .splide {
    &__content {
      h1 {
        font-size: 60px;
      }
    }
  }
}

@include xl {
  .splide {
    &__content {
      h1 {
        font-size: 80px;
      }
    }
  }
}
