.support {
  @include sticky(10px, 5px, 1000);
  &__icon {
    @include stickyIcon;
  }
  :hover {
    @include stickyIconHover;
  }
}

.chat {
  width: 250px;
  position: fixed;
  bottom: 80px;
  right: 5px;
  z-index: 1001;

  &__btn {
    height: 48px;
    width: 48px;

    margin-bottom: 12px;
    border-radius: 50px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.16);

    transform: translateX(200px);
    text-align: center;
    cursor: pointer;
    opacity: 0.94;
    border: none;
    background-color: #0066cc;
    color: #fff;
  }

  &__header {
    padding: 15px;
    background-color: #0066cc;
    color: #fff;
    border-radius: 10px;
  }

  &__content {
    background-color: $senary;
    height: 360px;
    display: flex;
  }

  &__input {
    align-self: flex-end;
    width: 100%;
    padding: 10px;
  }
}
