@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  color: inherit;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

hr {
  border: 1px solid $gray;
}

.pointer {
  cursor: pointer;
}

input {
  &:focus {
    outline: inherit;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
