$primary: #03045e;
$secondary: #0077b6;
$tertiary: #00b4d8;
$quaternary: #90e0ef;
$quinary: #caf0f8;
$senary: #fdfdf5;
$white: #ffffff;
$black: #000000;
$gray: #484848;
$twitter: #1da1f2;
$facebook: #1877f2;
$youtube: #ff0000;
$green: #25dac5 !default;

//color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "senary": $senary,
  "black": $black,
  "white": $white,
  "tw": $twitter,
  "fb": $facebook,
  "yt": $youtube,
  "green": $green,
);

//padding
$base-padding: 0.75rem !default;

//margin
$base-margin: 0.75rem !default;

//shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7) !default;

//border
$base-border-thickness: 1px;
$base-border-radius: 20px !default;
$base-border-thickness: 1px !default;
$base-border-styles: solid, dashed, dotted !default;
