@mixin about__search($max-width: 250px) {
  position: relative;
  max-width: $max-width;
  width: 100%;
}

@mixin about__input($max-width: 250px) {
  max-width: $max-width;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 20px;
}

@mixin about__btn {
  padding: 8px;
  border: none;
  background: white;
  border-left: 1px solid gray;
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}
