.feature {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: $base-border-radius;
}

.header {
  position: relative;
  z-index: 100;

  &.sticky {
    position: fixed;
  }
}

.section {
  padding: 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}
