.feature {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: $base-border-radius;
}

.header {
  position: relative;
  z-index: 100;

  &.sticky {
    position: fixed;
  }
}

.section {
  padding: 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.operations__section {
  background-color: $senary;
  width: 100%;
}

//operations button container media responsiveness
@include xs {
  .operations__container {
    display: flex;
    flex-flow: none;
    justify-content: center;
    align-items: center;
  }
}

@include lg {
  .operations__container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }

  .operations__tab {
    width: 190px;
  }
}

.operations__tab {
  font-size: $font-size-sm;
  transform: translateY(56%);

  filter: brightness(85%);
}

.operations__tab.active {
  transform: translateY(26%);
  filter: brightness(100%);
}
////////////////////////////////////
.operations__content {
  display: none;
}

.operations__content.active {
  display: flex;
}

// content media responsivenesss

@include xs {
  .operations__content.active {
    align-items: center;
    flex-direction: column;

    padding: $base-padding * 2;
    padding-top: $base-padding * 5;
  }
}

@include sm {
  .operations__content.active {
    flex-direction: column;
    column-gap: 35px;
    align-items: center;

    padding: $base-padding * 2;
    padding-top: $base-padding * 5;
  }
}

@include md {
  .operations__content.active {
    flex-direction: row;
    column-gap: 35px;
    padding: $base-padding * 5;
    align-items: first baseline;
  }
}

@include lg {
  .operations__content.active {
    flex-direction: row;
    column-gap: 35px;
    padding: $base-padding * 5;
    align-items: first baseline;
  }
}
