.feature {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: $base-border-radius;
}

.header {
  position: relative;
  z-index: 100;

  &.sticky {
    position: fixed;
  }
}

.section {
  padding: 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.operations__container {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

@include sm {
  .operations__container {
    display: flex;
    flex-flow: none;
    justify-content: center;
    align-items: center;
  }
}

.operations__tab {
  font-size: $font-size-sm;
  transform: translateY(56%);
  width: 190px;
  filter: brightness(85%);
}

.operations__tab.active {
  transform: translateY(26%);
  filter: brightness(100%);
}

.operations__content {
  display: none;
}

.operations__content.active {
  padding: $base-padding * 5;
  display: flex;
  align-items: first baseline;
  column-gap: 35px;
}
