.paypal {
  position: relative;
  padding-bottom: 30px;

  input[type="text"] {
    width: 100%;
    max-width: 400px;
  }
}

.credit {
  position: relative;
  padding-bottom: 30px;
}

.btn--checkout {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.checked {
  background-color: $quaternary;
}
