.paypal {
  position: relative;
  padding-bottom: 30px;
  max-width: 1200px;
  width: 100%;
  input[type="text"] {
    width: 100%;
    max-width: 400px;
  }
}

.credit {
  position: relative;
  padding-bottom: 30px;
  max-width: 1200px;
  width: 100%;
}

.btn--checkout {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.checked {
  background-color: $quaternary;
}

.inputlabel {
  label {
    min-width: 150px;
    width: 100%;
  }

  input {
    width: 100%;
    max-width: 400px;
  }
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}
