@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  @include object-center;
  position: relative;

  input {
    display: none;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: $circleSize;
    height: $circleSize;
    box-shadow: $shadow;
    border-radius: $radius;
  }

  .-label {
    cursor: pointer;
    height: $circleSize;
    width: $circleSize;
  }

  &:hover {
    .-label {
      @include object-center;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10000;
      color: $fontColor;
      transition: background-color 0.2s ease-in-out;
      border-radius: $radius;
      margin-bottom: 0;
    }
  }
}

@mixin grid($grid-temp) {
  display: grid;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
  grid-template-columns: $grid-temp;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
  padding: $base-padding * 2;
  border-radius: $base-border-radius;
}

.accordion__box {
  padding-left: $base-padding / 2;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.box__head {
  align-items: center;
  display: grid;

  grid-template-columns: auto 1fr auto;

  cursor: pointer;
  text-align: center;
  color: $white;
  opacity: 0.8;
}

.box__head:hover {
  opacity: 1;
}

.head__icon {
  font-size: $font-size-md;
}

.head__title {
  font-size: $font-size-md;
  font-weight: $font-weight-xxl;
}

.head__span {
  font-size: $font-size-md;
  height: 35px;
  width: 35px;
  background-color: $white;
  color: $primary;
  border-radius: 50%;
  text-align: center;
}

.box__info {
  color: $black;
  font-weight: $font-weight-xxl;
  display: none;
  padding-bottom: $base-padding;
}

.expanded .box__info {
  display: block;
}

.expanded .head__span {
  transform: rotate(90deg);
  background-color: $primary;
  color: $white;
}

.expanded .head__title {
  color: var(--lightpurple);
}

.form-group {
  text-align: left;
  display: grid;
  align-items: center;
  column-gap: 16px;
  grid-template-columns: 1fr 2fr;

  label {
    color: $white;
    font-size: $font-size-sm;
    font-weight: $font-weight-xxl;
  }

  input {
    @extend .select;
    background: none;
    background-color: $facebook;
    max-width: 240px;
    width: 100%;
  }
}
